# Ignore everything
*

# Add back all directories so their content can be unignored if desired
!*/

# Hide the .eggs directory that gets created by setup.py
.eggs

# Hide the .tox directory created when using tox
.tox

# Hide the build directory that gets created by setup.py
build

# Allow the .gitignore file
!.gitignore

# Allow all .ini files
!**/*.ini

# Allow the README.md file
!**/README.md

# Allow all Python files
!**/*.py

# Allow all C files
!**/*.c

# Allow all makefiles
!**/makefile

